{# Resources/views/layout/_navigation.html.twig #}
<div class="menu">
    {% if (NavigationThemeProvider is defined) %}
        <ul class="list">
            {{ adminBSBMultiLevelMenu(NavigationThemeProvider.tree, app.request) }}
        </ul>
    {% endif %}
</div>