{# Resources/views/layout/section.html.twig #}
{% extends "@WBWAdminBSB/layout.html.twig" %}

{% block adminBSBTitle %}{{ ApplicationThemeProvider.title|default("AdminBSB Material Design") }}{% endblock %}

{% block adminBSBAttributes %} class="theme-red"{% endblock %}

{% block adminBSBContainer %}
    {{ parent() }}
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>{{ "views.layout.loader.wait"|trans({}, "WBWAdminBSBBundle") }}</p>
        </div>
    </div>
    <div class="overlay"></div>
    {% include "@WBWAdminBSB/Theme/search.html.twig" %}
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-toggle collapsed" href="javascript:void(0);" aria-expanded="false" data-target="#navbar-collapse" data-toggle="collapse"></a>
                <a class="bars" href="javascript:void(0);"></a>
                <a class="navbar-brand" href="javscript:void(0)">{{ ApplicationThemeProvider.name|default("")|raw }}</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if (HookDropDownThemeProvider is defined and HookDropDownThemeProvider.view is not null) %}
                        {% include HookDropDownThemeProvider.view with {"provider": HookDropDownThemeProvider} %}
                    {% endif %}
                    {% if (NotificationsDropDownThemeProvider is defined and NotificationsDropDownThemeProvider.view is not null) %}
                        {% include NotificationsDropDownThemeProvider.view with {"provider": NotificationsDropDownThemeProvider} %}
                    {% endif %}
                    {% if (TasksDropDownThemeProvider is defined and TasksDropDownThemeProvider.view is not null) %}
                        {% include TasksDropDownThemeProvider.view with {"provider": TasksDropDownThemeProvider} %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <section>
        <aside class="sidebar" id="leftsidebar">
            {% if (app.user is not null) %}
                {% if (UserInfoThemeProvider is defined and UserInfoThemeProvider.view is not null) %}
                    {% include UserInfoThemeProvider.view with {"provider": UserInfoThemeProvider} %}
                {% else %}
                    {% include "@WBWAdminBSB/Theme/user-info.html.twig" %}
                {% endif %}
            {% endif %}
            {% if (NavigationThemeProvider is defined and NavigationThemeProvider.view is not null) %}
                {% include NavigationThemeProvider.view with {"provider": NavigationThemeProvider} %}
            {% else %}
                {% include "@WBWAdminBSB/Theme/navigation.html.twig" %}
            {% endif %}
            {% if (FooterThemeProvider is defined and FooterThemeProvider.view is not null) %}
                {% include FooterThemeProvider.view with {"provider": FooterThemeProvider} %}
            {% else %}
                {% include "@WBWAdminBSB/Theme/footer.html.twig" %}
            {% endif %}
        </aside>
        <aside class="right-sidebar" id="rightsidebar">
        </aside>
    </section>
    <section class="content">
        <div class="container-fluid">
            {% if (0 < app.session.flashbag.peekAll()|length) %}
                {% include "@WBWAdminBSB/layout/flashbag.html.twig" %}
            {% endif %}
            {% block adminBSBContent %}
            {% endblock %}
            {% if ("dev" == app.environment) %}
                {% include "@WBWBootstrap/layout/twig-console.html.twig" with {"bootstrapVersion": "3"} %}
            {% endif %}
        </div>
    </section>
{% endblock %}
