{# Resources/views/bundles/FOSUserBundle/Profile/show/_content.html.twig #}
<p>{{ 'profile.show.username'|trans([], "FOSUserBundle") }}: {{ user.username }}</p>
<p>{{ 'profile.show.email'|trans([], "FOSUserBundle") }}: {{ user.email }}</p>
