{# Resources/views/include/flashbag.html.twig #}
<div class="row clearfix">
    <div class="{{ bootstrapGrid({"lg": 12, "recopy": true}) }}">
        {% include "@Bootstrap/include/flashbag.html.twig" %}
    </div>
</div>
